<div class="page-sub-categories-new-edit ng-scope-container">
    <div id="page-wrapper" class="ng-scope-container-shadow">
        <div class="container-fluid">
        
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {{pageDescription}}
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#/">Home</a>
                        </li>
                        
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#/sub-categories">Sub-Categorias</a>
                        </li>
                        
                        <li class="active">
                            <i class="fa fa-file"></i> {{page}}
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            
            <form id="form-registration" class="form-registration" novalidate>
                <div class="form-group">

                    <div class="alert alert-danger" id="alert-registration" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign"
                              aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <span id="alert-registration-message"></span>
                    </div>

                    <input type="hidden" class="form-control" id="modal-entity-id">

                    <div class="form-group control-group">
                        <label class="control-label" for="modal-entity-id-category">Categoria*</label>

                        <select class="form-control" id="modal-entity-id-category"
                                required
                                disabled
                                ng-model="selectCategory"
                                data-validation-required-message="Entre com a categoria">
                            
                            <option value="">Selecione</option>
                            <option ng-repeat="item in categories" value="{{item.id}}">{{item.description}}</option>
                        </select>
                        
                        <p class="help-block text-danger"></p>
                    </div>
                    
                    <div class="form-group control-group">
                        <label class="control-label" for="modal-entity-description">Descrição*</label>

                        <input type="text" class="form-control" id="modal-entity-description"
                               required
                               data-validation-required-message="Entre com a descrição">
                        <p class="help-block text-danger"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#/sub-categories" type="button" class="btn btn-default">Voltar
                    </a>
                    <button type="submit" class="btn btn-primary" id="modal-city-save">Salvar
                    </button>
                </div>
            </form>
               
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrappe -->
</div>
<!-- /.page-cities -->
