<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guideapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.views.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.views.local.LocalActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.views.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.views.main.MainActivity" />
        </activity>

        <activity
            android:name=".ui.views.localdetail.LocalDetailActivity"
            android:parentActivityName=".ui.views.local.LocalActivity"
            android:theme="@style/AppThemeLocalDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.views.localdetail.LocalDetailActivity" />
        </activity>

        <activity
            android:name=".ui.views.map.MapActivity"
            android:parentActivityName=".ui.views.main.MainActivity"
            android:theme="@style/AppThemeMap">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.views.main.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCY6x2zng0ybKtkhoabhung3B2r5iSfJdA" />

        <provider
            android:name=".data.local.GuideProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <service
            android:name=".sync.GuideSyncIntentService"
            android:exported="false" />

        <service
            android:name=".sync.GuideFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ui.widget.LocalFavoriteWidget"
            android:enabled="true"
            android:label="@string/title_widget_detail">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.guideapp.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/local_favorite_widget_info" />
        </receiver>

        <service
            android:name=".ui.widget.LocalFavoriteWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4bba6e1559f29b94c9136bacee36cb86ede23056" />
    </application>

</manifest>